{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>git gud</title>
</head>
<body>
<header>
<div class="blog_detail">
	<div class="blog">
		<h2>Title:{{blog.title}}</h2>
		<p>Auhor:{{blog.author}}</p>
		<p>Text: {{blog.body}}</p>
	</div>
</div>
 <a class="btn btn-default" href="/blog/details/{{post.id}}">Add comment</a>
<hr>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <p>{{ comment.text|linebreaks }}</p>
    </div>


{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

</body>
</html>
