{% extends 'partials/base_generic.html' %}

{% block content %}


<div class="blog_detail">
	<div class="blog">

		{% if request.user == blog.author %}
		            <form class="edit-link" action="{% url 'edit_post' id=blog.id %}" method="post">
		                {% csrf_token %}
		                <button type="submit">Edit</button>
		            </form>
		{% endif %}

		<h2>Title -> {{blog.title}}</h2>
		<p>Author: {{blog.author}}</p>
		<p>Text: {{blog.body}}</p>
	</div>
</div>
<hr>

{% for comment in comments %}
    <div class="comment">
        <div class="date">Comment by {{ comment.name }} <br>
				{{ comment.time_of_comment }}
        <p>{{ comment.text }}</p></div>

    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

{% if comment %}
	<h3>added</h3>
	{% else %}
    <h2>New comment</h2>
    <form action="." method="post">
        {{ formz.as_p }}
				{% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}


<a href="/blog/details/{{post.id}}">
{% endblock %}
